
/*RESPONSIVE DESIGN*/
@media screen and (max-width:768px){
    header{
        height: 80px;
        position: relative;
    }
    .hamburger-icon{
        display: block;
        width: 50px;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        
    }

    .close-icon{
        width: 24px;
        z-index: 999;
        position: absolute;
        top: 30px;
        right: 30px;
        display: block;
               
    }
    .nav-bar{
        position: fixed;
        background: rgba(2, 0, 36, 0.426);
        top: 0;
        right: 0; 
        width: 60vw;
        height: 100vh;
        z-index: 1000;
        transform: translateX(110%);        
        transition: transform .5s ease-in-out;
        
    }
    
    .nav-bar ul{
        flex-direction: column;
        align-items: center;
        
    }
    .nav-items{
        
        width: 100%;
        text-align: center;
        padding: 20px 0 20px 0;
        border: transparent 1px grey;
    }
    .texto-p h1{
        font-size: 2.1rem;
    }
    .contacto-item{
        background-color: transparent;
        
    }
    .contacto-item a{
        color: #000;
        font-size: 1.3rem;
        font-family: 'Anton';
    }
   
    .logo-item img{
        
        width: 200px;
    }
    .open-nav{
        transform: translateX(0%);
    }
}