footer{
    height: fit-content;
    background-color: rgb(6, 4, 36);
   
    padding: 20px;
    margin: 0;
    color: aliceblue;
    text-align: center;
}
.footer-items{
    display: flex;
    justify-content: space-between;
    color: aliceblue;
    height: 100px;
    flex-wrap: wrap;
}

.footer-items img{
    width: 200px;
}

.redes-footer img{
    width: 30px;
    margin: 0 15px 0 15px;
 
}
.redes-footer{
 
    display: flex;
    align-items: center;
    width: 250px;
   
}
.info-footer{
    display: flex;
    flex-direction: column;
    height: 100px;
    
}
.info-footer li{
    margin: 10px 0 0 0 ;
    list-style: circle;
    color: aliceblue;
}
.info-footer li a{
    color: aliceblue;
    text-decoration: none;
    text-align: center;
}

/*RESPONSIVE DESIGN*/
@media screen and (max-width:858px){
    header{
        height: 80px;
        position: relative;
    }
    .hamburger-icon{
        display: block;
        width: 50px;
        cursor: pointer;
        display: block;
        position: absolute;
        top: 30px;
        right: 30px;
        
    }

    .close-icon{
        width: 24px;
        z-index: 999;
        position: absolute;
        top: 30px;
        right: 30px;
        display: block;
               
    }
    .nav-bar{
        position: fixed;
        background: rgba(2, 0, 36, 0.426);
        top: 0;
        right: 0; 
        width: 60vw;
        height: 100vh;
        z-index: 1000;
        transform: translateX(110%);        
        transition: transform .5s ease-in-out;
        
    }
    
    .nav-bar ul{
        flex-direction: column;
        align-items: center;
        
    }
    .logo-item{
        
        width: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: center;
    }
   
    .nav-items{
        
        width: 100%;
        text-align: center;
        padding: 20px 0 20px 0;
        border: transparent 1px grey;
    }
    .texto-p h1{
        font-size: 2.1rem;
    }
    .contacto-item{
        background-color: transparent;
        
    }
    .contacto-item a{
        color: #000;
        font-size: 1.3rem;
        font-family: 'Anton';
    }
   
    .logo-item img{
        
       
        width: 100px;
        height: 100px;
    }
    .open-nav{
        transform: translateX(0%);
    }

    footer{
       position: relative;
        
        height: fit-content;
    }
    .footer-items{
        height: auto;
        justify-content: center;
    }
}

