@import url('https://fonts.googleapis.com/css2?family=Anton:wght@300&family=Anton&display=swap');
header{
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0px;
}
.nav-bar{
    margin: 0;
    height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    
    background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(2,0,36,0) 0%, transparent 30%, #fff 100%);
   
}
.nav-bar ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    
    
    
}
.nav-bar ul li{
    overflow: hidden;
}
.nav-bar ul li a{
    text-decoration: none;
    color: #514644;
    
    font-size: 1.3rem;
    font-family: 'Anton';
   
}


.nav-bar ul li::after{
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    right: 100%;
    background-color: #000;
}

.nav-bar ul li:hover::after{
    right: 0%;
    transition: right 1s;
   
}






h1 {
    text-align: center;
    font-size: 3.6rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 50px;
    margin-bottom: 100px;
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px 15px;
}

main div {
    margin: auto;
    border-bottom: 1px solid grey;
    width: 70%;
}

main p {
    margin-bottom: 50px;
    text-align: center;
}

