@import url('https://fonts.googleapis.com/css2?family=Anton:wght@300&family=Anton&display=swap');

body{
    width: 100%;
    background: transparent url('../assets/fondo.png') 0% 0% no-repeat padding-box;
    background-size: cover;
}

header{
    width: 100%;
    margin: 0;
    position: sticky;
    top: 0px;
}

.nav-bar{
    margin: 0;
    height: 100px;
    display: flex;
    align-items: center;
    width: 100%;
    
    background: rgb(2,0,36);
    background: linear-gradient(360deg, rgba(2,0,36,0) 0%, transparent 30%, #fff 100%);
   
}
.nav-bar ul{
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    
    
    
}
.nav-items{
    overflow: hidden;
}
.nav-items a{
    text-decoration: none;
    color: #000000;
    
    font-size: 1.3rem;
    font-family: 'Anton';
   
}
.logo-item{
    width: 200px;
    height: 130px;
}
.logo-item img{
    width: 100%;
    height: 100%;
}

.contacto-item{
    background-color: #02242c;
    padding: 15px;
    border-radius:10px ;
    
}
.contacto-item a{
    text-decoration: none;
    color: #fff;
}


.nav-items::after{
    content: '';
    display: block;
    position: relative;
    width: 100%;
    height: 2px;
    right: 120%;
    background-color: #000;
}

.nav-items:hover::after{
    right: 0%;
    transition: right .5s;
   
}

.contacto-item:hover{
    transform: scale(1.2);
    box-shadow: 2px 2px 5px #02242c;
    transition: all .3s;
}





.texto-p{
    width: 100%;
    background: transparent;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.texto-p h1 {
    width: 100%;
    color: transparent;
    text-align: center;
    font-size: 3.8rem;
    letter-spacing: 10px;
    font-family: 'Anton';
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 5px 5px 3px   black;
    display: contents;

    
    
    
   
}
.texto-p h1::after{
    content: 'NOSOTROS';
    background-image: url('../assets/texto.jpeg');
    background-size: contain;
    background-position-y:center ;
    -webkit-background-clip: text;
    text-shadow: none;
    position: absolute;
    animation: texto 6s infinite ease;
    
    
  

}

@keyframes texto {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.02);
    }
    
   
    100%{
        transform: scale(1);
    }
    
}

h2 {
    text-align: center;
    font-weight: bold;
    font-size: 1.3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 15px 15px;
}

main div {
    margin: auto;
   
    width: 70%;
}

main p {
    letter-spacing: 2px;
    word-spacing: 2px;
    line-height: 24px;
    margin-bottom: 50px;
    text-align: center;
}



/* Responsive */
@media screen and (max-width:768px){
    header{
        height: auto;
        position: relative;
    }
    .nav-bar{
        height: auto;
    }
    .nav-bar ul{
        flex-direction: column;
        align-items: center;
        
    }
    .nav-bar ul li{
        width: 100%;
        text-align: center;
        padding: 20px 0 20px 0;
        border: solid 1px grey;
    }
    #nombres,#email{
        margin: 25px;
        width: 100%;
        display: block;
    }
}

